.App {
  text-align: center;
}

body{
  font-family: sans-serif;
  background-color: #77bbff;
}

h3{
  margin-top:5px;
}

input{
  margin:3px;
}

label{
  margin:5px;
}

#nav{
  margin-bottom: 10%;
}

.item{
  border: 1px solid black;
}

.npc{
  border: 1px solid black;
}

.place{
  border: 1px solid black;
}

.quest{
  border: 1px solid black;
}

.rule{
  border: 1px solid black;
}